
/* overall layout */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow:   hidden;
}


/* top bar */
header {
    position:   absolute;
    background: #bbec5e;
    border-bottom:  0.5em solid #fff;
    height: 42px;
    top:    0;
    left:   0;
    right:  0;
}
h1 {
    font-family:    "Lato", sans-serif;
    font-size:  32px;
    font-weight:    100;
    font-style: italic;
    padding:    0 16px 3px 10px;
    margin: 0;
    background: #e0f9b0;
    display:    inline-block;
    border-left:    6px solid #e3433e;
    color:  #126f73;
}
#settings {
    float:  right;
    border: none;
    background: none;
    color:  #fff;
    font-size:  32px;
    padding:    0 32px;
    cursor: pointer;
    height: 100%;
}
#settings:hover {
    background: #fff;
    color:  #9ed33a;
}

/* nav */
nav {
    position:   absolute;
    top:    50px;
    bottom: 100px;
    left:   0;
    width:  192px;
    border-right:   1px solid #bbec5e;
    overflow:   auto;
    font-family:    "Lato", sans-serif;
}
nav button {
    font-family:    inherit;
    font-size:  inherit;
    background: inherit;
    color:  inherit;
    border: 0;
    padding:    0;
    text-align: left;
    font-variant:   inherit;
    font-weight:    inherit;
}
button::-moz-focus-inner {
    border: 0;
    padding:    0;
}
nav ul {
    padding:   0 1em;
}
nav li {
    display:    block;
}
nav li:not(.head):not(.control) button {
    font-weight:    300;
    padding-left:   0.5em;
    width:  100%;
}
nav li:not(.head):not(.control) button:hover {
    color:  #fff;
    background: #9ed33a;
}
nav li.head {
    font-variant: small-caps;
    font-weight:    300;
    color:  #126f73;
    border-bottom:  1px solid #9ed33a;
    margin-bottom:  0.2em;
}
nav li.head button {
    cursor: pointer;
    width:  100%;
}
nav li.head button:hover {
    background: #9ed33a;
    color:  #fff;
}
nav li.control {
    text-align: right;
}
nav li.control button {
    color:  #126f73;
    cursor: pointer;
}
nav li.control button:hover {
    color:  #fff;
    background: #126f73;
}
nav li.selected::after {
    content:    "•";
    float:  right;
    margin-top: -1.2em;
    color:  #e3433e;
    z-index:    1000;
}


/* footer controls */
footer {
    position:   absolute;
    bottom: 0;
    left:   0;
    right:  0;
    height: 84px;
    border-top:  8px solid #fff;
    text-align: center;
    padding-bottom: 8px;
}
#play-progress {
    background: #bbec5e;
    display:    block;
    width:  100%;
    border: 0;
    height: 5px;
    margin-bottom:  0.5em;
}
#play-advance {
    background: #e3433e;
    width:  20%;
    height: 5px;
}

#controls {
    display:    flex;
    flex-wrap:  wrap;
    justify-content:    center;
}
#play-controls {
    display:    flex;
    justify-content:    center;
}
.play-control {
    align-self: center;
    border: 1px solid #9ed33a;
    color:  #9ed33a;
    border-radius:  50%;
    text-align: center;
    background: #fff;
    margin: 0 0.2em;
    font-size:  2em;
    cursor: pointer;
}
.play-control:hover {
    color:  #fff;
    background: #9ed33a;
    border-color:   #e3433e;
}
#play-control-rwd, #play-control-fwd {
    height: 1.3em;
    width:  1.3em;
}
#play-control-pause, #play-control-play {
    height: 2em;
    width:  2em;
}
#now {
    display:    flex;
}
#now > * {
    align-self: center;
}
#now-text {
    font-family:    "Lato", sans-serif;
    min-width:  15em;
    text-align: left;
    padding:    0 0.5em;
}
#now-author, #now-source {
    font-size:  0.8em;
}
#play-volume {
    display:    flex;
    justify-content:    center;
    flex-direction: column;
}
#playback {
    display:    flex;
    flex-wrap:  wrap;
    width:  6em;
}
/* XXX needs a grey version for toggled off */
#playback-random, #playback-loop {
    width:  2em;
    height: 2em;
    font-size:  1.5em;
    background: #fff;
    border: none;
    color:  #9ed33a;
}
#playback-time {
    font-family:    "Lato", sans-serif;
    font-size:  0.8em;
    width:  7.5em;
    margin: 0.2em 0 0 0;
}
/* playing controls */
.playing-off #play-control-pause {
    display:    none;
}
.playing-on #play-control-play {
    display:    none;
}

/* content */
main {
    position:   absolute;
    top:    50px;
    bottom: 100px;
    left:   192px;
    right:  0;
    margin: 16px 16px 0 16px;
    font-weight:    300;
}
main .filters::after {
    clear:  both;
    content:    ".";
    visibility: hidden;
}
#filter-artist {
    width: 50%;
    float: left;
}
#filter-album {
    width: 50%;
    float: right;
}
main h2 {
    font-size:  16px;
    font-variant: small-caps;
    font-weight:    300;
    color:  #126f73;
    margin:  0 0 0.2em 0;
}
main select {
    height: 8em;
    box-sizing: border-box;
    border:    1px solid #9ed33a;
    width:  95%;
}
main section:last-of-type select {
    width:    100%
}
main table {
    width:  100%;
}
main table th {
    text-align: left;
}
main .listing {
    position:   absolute;
    width:  100%;
    bottom: 0;
    top:    124px;
    overflow:   auto;
}