
html, body {
    margin: 0;
    padding: 0;
}

/* overall layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
div.page {
    display:    flex;
    flex:   1;
}
main {
    flex:   1;
}
nav {
    flex:   0 0 12em;
    order:  -1;
}

/* theming */
header {
    background: #bbec5e;
    min-height: 2em;
    border-bottom:  0.5em solid #fff;
}
h1 {
    font-family:    "Lato";
    font-weight:    100;
    font-style: italic;
    padding:    0 0.5em 0.1em 0.3em;
    margin: 0;
    background: #e0f9b0;
    display:    inline-block;
    border-left:    6px solid #e3433e;
    color:  #126f73;
}
nav {
    border-right:   1px solid #bbec5e;
}
footer {
    min-height: 4em;
    border-top:  0.5em solid #fff;
    text-align: center;
    padding-bottom: 0.5em;
}


/* play controls, progress, etc. */
#play-progress {
    background: #bbec5e;
    display:    block;
    width:  100%;
    border: 0;
    height: 5px;
    margin-bottom:  0.5em;
}
#play-advance {
    background: #e3433e;
    width:  20%;
    height: 5px;
}

#controls {
    display:    flex;
    flex-wrap:  wrap;
    justify-content:    center;
}
#play-controls {
    display:    flex;
    justify-content:    center;
}
.play-control {
    align-self: center;
    border: 1px solid #9ed33a;
    color:  #9ed33a;
    border-radius:  50%;
    text-align: center;
    background: #fff;
    margin: 0 0.2em;
    font-size:  2em;
    cursor: pointer;
}
.play-control:hover {
    color:  #fff;
    background: #9ed33a;
    border-color:   #e3433e;
}
#play-control-rwd, #play-control-fwd {
    height: 1.3em;
    width:  1.3em;
}
#play-control-pause, #play-control-play {
    height: 2em;
    width:  2em;
}
#now {
    display:    flex;
}
#now > * {
    align-self: center;
}
#now-text {
    font-family:    "Lato";
    min-width:  15em;
    text-align: left;
    padding:    0 0.5em;
}
#now-author, #now-source {
    font-size:  0.8em;
}
#play-volume {
    display:    flex;
    justify-content:    center;
    flex-direction: column;
}
#playback {
    display:    flex;
    flex-wrap:  wrap;
    width:  6em;
}
/* XXX needs a grey version for toggled off */
#playback-random, #playback-loop {
    width:  2em;
    height: 2em;
    font-size:  1.5em;
    background: #fff;
    border: none;
    color:  #9ed33a;
}
#playback-time {
    font-family:    "Lato";
    font-size:  0.8em;
    width:  7.5em;
    margin: 0.2em 0 0 0;
}


/* playing controls */
.playing-off #play-control-pause {
    display:    none;
}
.playing-on #play-control-play {
    display:    none;
}
